body {
    margin: 0;
    padding: 0;
    background-color: #f6f0ee;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/* Style tab links */
.tablink {
    background-color: #333;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 16px;
    width: 90px;
}

.tablink:hover {
    background-color: #7f7d7d;
}

.innertab {
    background-color: #333;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 14px;
    font-size: 15px;
    width: 160px;
    border-radius: 10px;
    height: 50px;
}

.innertab:hover {
    background-color: #7f7d7d;
}

/* Style the tab content */
.tabcontent {
    color: rgb(0, 0, 0);
    display: none;
    padding: 50px;
    text-align: center;
}

.login {
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 40px;
    border-color: #333;
    border-style: solid;
    border-radius: 10px;
}

h2 {
    text-align: center;
    color: black;
}

label {
    color: black;
    font-size: 17px;
    padding: 5px;
}

#login_form {
    width: 310px;
    padding-left: 45px;
    padding-right: 45px;
}

.loginFormLabel {
    float: left;
}

.loginFormErr {
    float: left;
    color: red;
    padding-top: 5px;
    font-size: 12px;
}

#loginUser_Out {
    float: none;
}

#login_username {
    /* Login page - Input field */
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#login_pwd {
    /* Login page - Input field */
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#login_profile {
    /* Login page - dropdown box */
    width: 314px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#login_btn {
    width: 300px;
    height: 35px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 7px;
    color: black;
    cursor: pointer;
}

/* Search bar */
.searchBar {
    height: 45px;
    width: 230px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 15px;
}
/* Search button */
.searchBtn {
    height: 50px;
    width: 75px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

#search_btn:hover {
    background-color: black;
    color: white;
}

.useradminmenu {
    width: 500px;
    min-height: 500px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 16px;
    border-color: #333;
    box-shadow: 4px 2px #888888;
    border-style: solid;
    border-radius: 10px;
}

.useradminarea {
    width: 474px;
    min-height: 410px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    /* overflow: auto; */
}

/* USER PAGE */
.createUserTable,
.viewTable {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.createUserTable tr,
.viewTable tr {
    height: 30px;
}

.createUserTable td,
.viewTable td {
    padding: 5px;
}

.createUserTable th,
.searchResultTable th,
.viewTable th {
    font-size: 28px;
    padding: 5px;
}

.createUserTable .errorRow,
.viewTable .errorRow {
    height: 16px;
    font-size: 12px;
    color: red;
    text-align: left;
}

#createUser_username,
#viewUser_name {
    /* manage user account page: input field + 4 below */
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#createUser_pwd,
#viewUser_password {
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#createUser_fname,
#viewUser_fname {
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#createUser_lname,
#viewUser_lname {
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#createUser_profile,
#viewUser_profile {
    width: 213px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#createUser_profile,
#viewUser_profile {
    float: left;
}

.searchResultTable {
    /* manage user account page: grey hover width */
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.searchResultTable tr:hover {
    /* manage user account page: grey hover */
    background-color: rgb(203, 203, 203);
}

.searchResultTable tr {
    height: 30px;
    text-align: left;
}

#search_result td {
    /* display: none;
    margin-left: auto;
    margin-right: auto; */
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#search_result tr:hover {
    background-color: #ddd;
}

#searchResult_header {
    text-align: center;
    pointer-events: none;
    /* position: sticky;
    top: 0;
    background: #eee;
    padding: 8px 20px; */
}

.btn {
    /* Create button */
    width: 250px;
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 10px 40px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

/* Gray */
.default {
    border-color: #ddd;
    color: black;
}

.default:hover {
    background: #ddd;
}
/* ======================= */

/* PROFILE PAGE */
.profileCenterTable,
.createProfileTable,
.viewProfileTable {
    margin-left: auto;
    margin-right: auto;
    /* width: 290px; */
}

.createProfileTable tr,
.viewProfileTable tr {
    height: 30px;
}

.createProfileTable td,
.viewProfileTable td {
    padding: 5px;
}

.createProfileTable th,
.searchProfileTable th,
.viewProfileTable th {
    font-size: 28px;
}

#createProfile_status {
    float: left;
}

.createProfileTable .errorRow {
    height: 16px;
    font-size: 12px;
    color: red;
    text-align: left;
}

#createProfile_name,
#viewProfile_name {
    /* manage user profile page: input field + 1 below */
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#createProfile_status {
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

.searchProfileTable {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.searchProfileTable tr {
    height: 30px;
    text-align: left;
}

#searchProfile_result td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.searchProfileTable tr:hover {
    background-color: rgb(203, 203, 203);
}

#searchProfile_header {
    text-align: center;
    pointer-events: none;
}

.viewProfileTable .errorRow {
    height: 16px;
    font-size: 12px;
    color: red;
    text-align: left;
}
/* ======================= */

/* ======== MENU ========= */
.menu {
    width: 750px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /* margin: 20 0 0 450px;   */
    padding: 10px;
    border-color: #333;
    border-style: solid;
    border-radius: 10px;
}

.menuTable {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px 25px;
}

.menuTable tr > td {
    border: 1px solid black;
    padding: 5px;
    height: 145px;
}

.menuTable tr > td:hover {
    background-color: rgb(203, 203, 203);
}

.menuTable th {
    text-align: left;
    font-size: 24px;
    text-decoration: underline;
    /* padding-left: 10px; */
    border: 1px solid black;
}

.menuTable td {
    width: 160px;
}

.menuTable .itemImage {
    height: 50%;
    margin-bottom: 5px;
    border: 1px solid black;
}
.menuTable .itemName {
    padding: 5px;
    border: 1px solid black; /* remove later */
}
.menuTable .itemPrice {
    padding: 5px;
    margin-top: 5px;
    border: 1px solid black; /* remove later */
}

/* ======================= */

/* ==== MENU OVERLAY ===== */
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay_content {
    position: relative;
    top: 10%;
    width: 70%;
    text-align: center;
    background: #f6f0ee;
    margin-left: auto;
    margin-right: auto;
}

.overlay .closebtn:hover, .overlay .closebtn:focus {
    color: #8e8e8e;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #f6f0ee;
    cursor: pointer;
}

.overlay_content table {
    width: 100%;
    border-spacing: 10px;
}

.menuItem_overlayDisplay {
    margin: auto;
    width: 600px;
    height: 600px;
    background: #f6f0ee;
    border-radius: 15px;
    padding: 25px;
}

.overlay_itemImage {
    border: solid #333;
    height: 450px;
    width: 450px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.overlay_itemName {
    border: solid #333;
    height: 25px;
    width: 450px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: -25px;
}

.overlay_btmRow {
    margin: 50px;
}

.overlay_itemPrice{
    border: solid #333;
    height: 35px;
    width: 20%;
    margin-bottom: 15px;
    margin-right: 50px;
}
  
.overlay_quantityBox {
    text-align: center;
    width: 60%;
}

.overlay_minus, .overlay_plus {
    font-size: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    border: 1px solid rgb(0, 0, 0);
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.overlay_quantity {
    height: 34px;
    width: 100px;
    text-align: center;
    font-size: 26px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}

.overlay_addToCart {
    border-radius: 5px;
    height: 45px;
    width: 20%;
    border: 1px solid rgb(255, 255, 255);
    font-weight: bold;
    color: white;
    background-color: #333;
    cursor: pointer;
}
/* ======================= */

/* ======== CART ========= */
.cart {
    width: 500px;
    overflow: hidden;
    margin: auto;
    padding: 20px 10px 20px 10px;
    border-color: #333;
    border-style: solid;
    border-radius: 10px;
    min-height: 500px;
}

.cartTable {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black; /* remove later */
    width: 100%;
}

.cartTable th {
    font-size: 24px;
}

.cartTable tr > td {
    border: 1px solid black;
    padding: 5px;
}

.cartTable .itemName {
    width: 50%;
    text-align: left;
}

.cartTable .itemPrice {
    width: 25%;
}

.cartTable .itemQuantity .cartQuantity {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    width: 15px;
    border: 0;
    outline: none;
    background-color: transparent;
}

.cartTable .itemQuantity .cartMinus, .cartTable .itemQuantity .cartPlus {
    border: 1px solid black;
    padding: 0px 5px 0px 5px;
}

.cartTable .itemQuantity .cartMinus:hover, .cartTable .itemQuantity .cartPlus:hover {
    background-color: rgb(203, 203, 203);
}

.cartTable .itemRemove {
    width: 5%;
}

.cartTable .itemTotalPriceLabel {
    text-align: right;
}

.cartPayment {
    margin-top: 10px;
    width: 300px;
    height: 35px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 7px;
    color: black;
    cursor: pointer;
}

.cartFormErr {
    color: red;
    padding-top: 5px;
    font-size: 12px;
}

/* ======================= */

/* ======= PAYMENT ======== */
.payment {
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 20px 40px 40px 40px;
    border-color: #333;
    border-style: solid;
    border-radius: 10px;
}

#payment_form {
    width: 310px;
    padding-left: 45px;
    padding-right: 45px;
}

.paymentFormLabel {
    float: left;
}

.paymentFormErr {
    float: left;
    color: red;
    padding-top: 5px;
    font-size: 12px;
}

#payment_phoneNumber,
#payment_cc,
#payment_totalPrice {
    /* Payment page - Input field */
    width: 300px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

#cartPayment {
    width: 300px;
    height: 35px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 7px;
    color: black;
    cursor: pointer;
}
/* ======================= */
/* ======= MANAGE ORDERS ======== */

.manageOrderArea {
    width: 500px;
    min-height: 500px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 16px;
    border-color: #333;
    box-shadow: 4px 2px #888888;
    border-style: solid;
    border-radius: 10px;
}

.manageOrderDisplay {
    width: 474px;
    min-height: 410px;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 8px;
    /* overflow: auto; */
}

/* Search bar */
.orderSearchBar {
    height: 45px;
    width: 230px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 15px;
}
/* Search button */
.orderSearchBtn {
    height: 50px;
    width: 75px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

#orderSearchBtn:hover {
    background-color: black;
    color: white;
}

.searchOrderTable {
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.searchOrderTable tr {
    height: 30px;
    text-align: left;
}

#searchOrder_result td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.searchOrderTable tr:hover {
    background-color: rgb(203, 203, 203);
}

#searchOrder_header {
    text-align: center;
    pointer-events: none;
}

.viewOrderTable {
    margin-left: auto;
    margin-right: auto;
    /* width: 290px; */
}

.viewOrderTable tr {
    height: 30px;
}

.viewOrderTable td {
    padding: 5px;
}

.searchOrderTable th {
    min-width: 200px;
    font-size: 25px;
}


.viewOrderTable th {
    font-size: 28px;
}

#view_phoneNumber,
#viewOrder_date,
#viewOrder_time {
    /* manage user account page: input field + 4 below */
    width: 200px;
    height: 30px;
    border: 1px solid;
    border-radius: 3px;
    padding-left: 8px;
}

/* ======================= */